<div class="profile-container">
        <h1>Profile Page</h1>
        <p>Welcome Hakan!</p>
        <p class="name">Name: Ahmet Hakan Öztürk</p>
        <p class="phone-number">Phone Number: 12341234</p>
    </div>