<h1>Add Product</h1>

<form asp-controller="Product" asp-action="Add" method="post">
    <p>Product Name:</p>
    <input name="name"/>
    <p>Product Description:</p>
    <input name="description"/>
    <br>
    <br>
    <button>Add Product</button>
</form>