@using Productify.Application
@model GetProductDto
<h1>Edit</h1>

<form asp-controller="Product" asp-action="Edit" method="post">
    <div class="form-group col-3">
    <p>Product Id:</p>
    <input asp-for="Id" class="form-control" placeholder="Enter product Id"/>

    <p>Product Name:</p>
    <input asp-for="Name" class="form-control" placeholder="Enter product name"/>

    <p>Product Description:</p>
    <input name="description" class="form-control" placeholder="Enter product description"/>
    <br>
    <button class="btn btn-success">Edit Product</button>
    </div>
</form>