@using Productify.Application
@model GetProductDto
<h1>Edit</h1>

<form asp-controller="Product" asp-action="Edit" method="post">
    <p>Product Id:</p>
    <input name="id" asp-for="Id"/>

    <p>Product Name:</p>
    <input name="name" asp-for="Name"/>

    <p>Product Description:</p>
    <input name="description" asp-for="Description"/>
    <br>
    <br>
    <button>Edit Product</button>
</form>