<h1>Edit</h1>

<form asp-controller="Product" asp-action="Edit" method="post">
    <p>Product Id:</p>
    <input name="id"/>

    <p>Product Name:</p>
    <input name="name"/>

    <p>Product Description:</p>
    <input name="description"/>
    <br>
    <br>
    <button>Edit Product</button>
</form>